@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
  width: 100vw;
}

#navbar {
  display: flex;
  height: 20vh;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: pink;
  width: 100vw;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

#projects {
  background-color: darkgrey;
  justify-content: center;
  width: 100vw;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-tile {
  margin-bottom: 10%;
}

.project-title {
  background-color: pink;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

img {
  border: solid 5px pink;
}

#contact {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  text-decoration: none;
}

li {
  font-size: xxx-large;
  border: white solid 3px;
  margin: 1%;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  border: white solid 3px;
  width: 100vw;
}

body {
  display: grid;
  background-color: lightblue;
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 50px;
  margin-left: 0;
}

header {
  background-color: pink;
}

footer {
  display: grid;
  background-color: pink;
  height: 5vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: 10%;
  text-align: center;
  align-items: center;
}

@media screen all and (min-width: 767px) {
  #projects {
    flex-direction: row;
    flex-wrap: wrap;
}
  .project-tile  {
    margin: 1%;
  }

  #navbar {
    display: flex;
    flex-direction: row;
  }
 }
