@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

#navbar {
  display: grid;
  height: 15vh;
  list-style: none;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: pink;
  width: 100vw;
  text-decoration: none;
}

#welcome-section {
  display: grid;
  background-color: lightgrey;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

#projects {
  background-color: lightgrey;
  justify-content: center;
  width: 100vw;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: lightgrey;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  text-decoration: none;
}

body {
  display: grid;
  background-color: lightblue;
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 50px;
  margin-left: 0;
}

header {
  background-color: pink;
}

footer {
  display: grid;
  background-color: pink;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: 10%;
  text-align: center;
  align-items: center;
}

@media all and (width: 1024px) {
  #navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    font-size: 50px;
  }

  #contact {
    text-align: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

  }

  #projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  h3 {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  #contact-heading {
    grid-column-start: 1;
    grid-column-end: 6;
  }

}
